{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3 me-3">{{ button_label|default('Ajouter la vidéo') }}</button>
    <a class="btn btn-dark mt-3" href="{{ path('app_admin_video_index') }}">Retour à la liste</a>
{{ form_end(form) }}
