{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Index vidéos
{% endblock %}

{% block body %}
	<div class="admin-list container-fluid">
		<div class="row d-flex justify-content-center">
			<h1 class="video-index-title text-center">{{ "index des vidéos"|upper }}</h1>
			<section class="video-summary flex-wrap ps-4 m-2">
				<a class="video-new btn btn-outline-primary my-4" href="{{ path('app_admin_video_new') }}">Ajouter une vidéo</a>

				<table class="table table-borderless text-white text-center">
					<thead class="video-field pt-2 border-bottom">
						<th>Nom</th>
						<th>Catégorie</th>
						<th>Vignette</th>
						<th>Durée</th>
						<th>Vues</th>
						<th>Actions</th>
					</thead>
				</tr>
			</thead>
			<tbody class="p-2">
				{% for video in videos %}
					<tr class="align-middle">
						<td>{{ video.name }}</td>
						<td>{{ video.category.name }}</td>
						<td>
							{% if video.picture is null %}
								<img src={{ asset('build/images/videoPlaceholder.jpeg') }} class="image-vich my-2" alt="{{video.picture}}">
							{% else %}
								<img src="{{asset('uploads/vignettes/' ~ video.picture)}}" class="image-vich my-2" alt="{{video.picture}}">
							{% endif %}
						</td>
						<td class="">{{ video.duration }}</td>
						<td class="">{{ video.view }}</td>
						<td class="d-flex justify-content-center align-items-center m-4">
							<a class="btn btn-tertiary me-2" href="{{ path('app_admin_video_show', {'id': video.id}) }}">Afficher</a>
							<a class="btn btn-success me-2" href="{{ path('app_admin_video_edit', {'id': video.id}) }}">Modifier</a>
                            {{ include('adminVideo/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucun résultat trouvé.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
</div></div>{% endblock %}
