{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <h1>Video</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ video.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ video.description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ video.duration }}</td>
            </tr>
            <tr>
                <th>View</th>
                <td>{{ video.view }}</td>
            </tr>
            <tr>
                <th>VideoFileName</th>
                <td>{{ video.videoFileName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_video_index') }}">back to list</a>

    <a href="{{ path('app_admin_video_edit', {'id': video.id}) }}">edit</a>

    {{ include('admin_video/_delete_form.html.twig') }}
{% endblock %}
