{% extends 'layoutAdmin.html.twig' %}

{% block title %}Vidéo | Afficher
{% endblock %}

{% block body %}
	<div class="video-show container-fluid p-3">
		<h1 class="text-center m-3">{{ "afficher une vidéo"|upper }}</h1>

		<table class="table flex-wrap text-light my-3 mt-5">
			<tbody>
				<tr>
					<th>Titre</th>
					<td>{{ video.name }}</td>
				</tr>
				<tr>
					<th>Catégorie</th>
					<td>{{ video.category.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ video.description|nl2br }}</td>
				</tr>
				<tr>
					<th>Durée</th>
					<td>{{ video.duration }}</td>
				</tr>
                <tr class="th-thumb">
					<th>Vignette</th>
					<td><img src={{ vich_uploader_asset(video, 'thumbnail') }}></td>
				</tr>
				<tr>
					<th>Lien de la vidéo</th>
					<td>{{ video.video }}</td>
				</tr>
			</tbody>
		</table>
		<div class="buttons my-5 pb-3">
			<a class="btn btn-success me-3" href="{{ path('app_admin_video_edit', {'id': video.id}) }}">Modifier</a>
			<a class="btn btn-dark" href="{{ path('app_admin_video_index') }}">Retour à la liste</a>
		</div>
	</div>
{% endblock %}
