{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}
	| Inscription
{% endblock %}

{% block body %}
	<section class="section-login">
		<div class="container">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-md-8 col-lg-6 col-xl-11">
					<div class="card text-center">
						<div class="card-body text-black">
							<div class="mb-md-1 mt-md-4 pb-5 list-style-none">
								{% for flash_error in app.flashes('verify_email_error') %}
									<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
								{% endfor %}
								<img src="{{ asset('build/images/Ellipse2.png') }}" alt="avatarImage" class="profile-photo">
								<h1 class="fw-bold text-light mb-2 text-uppercase">Inscription</h1>
								{{ form_start(registrationForm) }}
								<div class="form-group mb-2 text-light ">
									{{ form_row(registrationForm.email) }}
									{{ form_row(registrationForm.userName) }}
									{{ form_row(registrationForm.firstName) }}
									{{ form_row(registrationForm.lastName) }}
									{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
								</div>
								<button class="btn btn-outline-primary text-light btn-lg mt-4" type="submit">S'inscrire !</button>
								{{ form_end(registrationForm) }}
							</div>
						</div>
						<div>
									<a href="/" class="text-light-50 fw-bold text-decoration-none">Retour à l'accueil</a>
								</p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
