{% extends 'layoutUser.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('categories') }}
{% endblock %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<section class="category-list text-center">
		<h1 class="category-title m-5">Catégories</h1>
		{% for category in categories %}
			<div class="col-10 col-lg-7 mx-auto">
				<a class="category-link" href="{{path("category_show", { slug: category.slug|lower }) }}">
						<h2 class="category-name">{{ category.name }}</h2>
						<img class="category-background" src="{{ vich_uploader_asset(category, 'backgroundPicture') }}" alt="{{ category.background }}">
				</a>
			</div>
		{% else %}
			Aucune catégorie trouvée.
		{% endfor %}
	</section>
{% endblock %}
