{% extends 'layoutUser.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('showVideo') }}
	{{ encore_entry_link_tags ('showCategories') }}
{% endblock %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
	<section class="video-list">
		<div class="container-fluid px-5">
			<h1 class="category-title m-5 text-center">{{ category.name }}</h1>
			<div class="bloc-category-show">
				<div class="row">
					{% for video in videos %}
						<div class="col-md-3 mt-3">
							<div class="grid-cat">
								{% include "/components/_blocVideo.html.twig" %}
							</div>
							<span class="fs-3">{{video.name}}</span>
						</div>
					{% else %}
						<span>Aucune vidéo trouvée.</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
