{% extends 'layoutUser.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('showVideo') }}
	{{ encore_entry_link_tags ('showCategories') }}
{% endblock %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
	<section class="video-list">
		<div class="container">
			<h1 class="category-title m-5 text-center">{{ category.name }}</h1>

			<div class="bloc-category-show">
				{% for video in videos %}
					<div class="d-flex justify-content-around mb-5 overflow-auto card-show-cat">
						{% include "/components/_blocVideo.html.twig" %}
						<div class="title-view mt-2 d-flex flex-column justify-content-evenly align-items-start w-100">
							<h2 class="mx-4 mb-0">{{video.name}}</h2>
							<p class="mx-4 mb-0">{{video.view ~ ' vues'}}</p>
							<p class="mx-4 mb-0">{{ video.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
