		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-lg btn-outline-primary mt-3 me-3">{{ button_label|default('Ajouter le sponsor') }}</button>
		<a class="btn btn-lg btn-dark mt-3" href="{{ path('app_admin_sponsor_index') }}">Retour</a>
        {{ form_end(form) }}