{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Index sponsor
{% endblock %}

{% block body %}
	<div class="admin-list container-fluid">
		<div class="row d-flex justify-content-center">
			<h1 class="video-index-title text-center">{{ "Index des sponsors"|upper }}</h1>
			<section class="video-summary flex-wrap ps-4 m-2">
				<a class="video-new btn btn-outline-primary my-4 mb-5" href="{{ path('app_admin_sponsor_new') }}">Ajouter un sponsor</a>

				<table class="table table-borderless text-white text-center">
					<thead class="video-field pt-2 border-bottom">
						<tr>
							<th>Nom</th>
							<th>Logo</th>
							<th>Lien</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="p-2">
						{% for sponsor in sponsors %}
							<tr class="align-middle">
								<td>{{ sponsor.name }}</td>
								<td>
									{% if sponsor.logo is null %}
										<img src={{ asset('build/images/placeHolder.png') }} class="image-vich my-2" alt="{{ sponsor.logo }}">
									{% else %}
										<img src="{{ vich_uploader_asset(sponsor) }}" class="image-vich my-2" alt="{{ sponsor.logo }}">
									{% endif %}
								</td>
								<td>{{ sponsor.link }}</td>
								<td>
									<div class="d-flex justify-content-center align-items-center m-2">
										<a class="btn btn-success me-2" href="{{ path('app_admin_sponsor_edit', {'id': sponsor.id}) }}">Modifier</a>
										{{ include('admin_sponsor/_delete_form.html.twig') }}
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucun résultat trouvé.</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
{% endblock %}
