{% extends 'layoutAdmin.html.twig' %}

{% block title %}Sponsor | Afficher
{% endblock %}

{% block body %}
	<div class="admin-list container-fluid p-3">
			<h1 class="text-center m-3">{{ "Index des sponsors"|upper }}</h1>

			<a class="btn btn-light mt-3" href={{ path('app_admin_sponsor_delete', {'id': sponsor.id} ) }}>Supprimer</a>

			<table class="table flex-wrap text-light my-3">
				<tbody>
					<tr>
						<th>Nom</th>
						<td>{{ sponsor.name }}</td>
					</tr>
					<tr>
						<th>Logo</th>
						<td><img src="{{ vich_uploader_asset(sponsor) }}" class="image-vich my-2" alt=""</td>
					</tr>
					<tr>
						<th>Lien</th>
						<td>{{ sponsor.link }}</td>
					</tr>
				</tbody>
			</table>
			<div class="buttons my-5 pb-3">
				<a class= "btn btn-success me-3" href="{{ path('app_admin_sponsor_edit', {'id': sponsor.id}) }}">Modifier</a>
				<a class= "btn btn-dark" href="{{ path('app_admin_sponsor_index', {'id': sponsor.id}) }}">Retour à la liste</a>
			</div>
	</div>
{% endblock %}

