{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}
	| Connexion
{% endblock %}
{% block body %}
	<section class="section-login">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-8 col-lg-6 col-xl-11">
			{% if error %}
				<div class="flash-message alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
					<div class="card">
						<div class="card-body text-black w-100">
							<div class="mb-md-1 mt-md-4 pb-5">
								<form action="{{ path('app_login') }}" method="post">
									<div class="mb-2 text-light">
										<div class="d-flex justify-content-center">
											<img src="{{ asset('build/images/logoZeSport.png') }}" alt="avatarImage" class="profile-photo mb-4">
										</div>
										<h1 class="fw-bold text-light mb-2 text-uppercase text-center">Connexion</h1>
										<p class="text-light mb-5 text-center">Entrez vos identifiants de connexion !</p>
										<div class="mb-2 text-light px-5">
											<label for="username" class="form-label align-items-left">Email:</label>
											<input type="text" id="username" name="_username" class="input-form form-control form-control-lg" value="{{ last_username }}">
										</div>
										<div class="mb-2 text-light px-5">
											<label for="password" class="form-label align-items-left">Mot de passe :</label>
											<input type="password" id="password" class="input-form form-control form-control-lg" name="_password">
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										</div>
										<div clas="d-flex align-items-center text-center">
											<div class="text-center">
												<button class="btn btn-outline-primary btnstyle text-light btn-lg mt-3 mb-3" type="submit">Se connecter</button>
											</div>
										</div>
									</div>
									<div>
										<p class="mb-0 text-light text-center">Pas encore de compte?</p>
									</div>
									<div>
										<a href="{{ path('app_register') }}" class="text-light-50 fw-bold text-decoration-none d-flex justify-content-center">Créez-en un !</a>
									</p>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
