{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}
	| Recherche
{% endblock %}

{% block body %}
	<main class="container searchbar pt-5">
		<div class="text-light p-5">
			<div class="d-flex justify-content-center mt-3 fs-1 fw-bold">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btnstyle w-100 btn-primary">Rechercher</button>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="bloc-category-show">
			<div class="row">
				{% for video in videos %}
					<div class="col-md-3 mt-3">
						<div class="grid-cat">
							{% include "/components/_blocVideo.html.twig" %}
							<span class="fs-3">{{video.name}}</span>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
