{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}
	| Recherche
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<div class="text-center pt-5">
			<div class="text-light p-5">
				<div class="d-flex justify-content-center mt-3 fs-1 fw-bold">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn btnstyle btn-primary">Rechercher</button>
					{{ form_end(form) }}
				</div>
			</div>
			<div class="bloc-category-show">
				{% for video in videos %}
					<div class="d-flex justify-content-around mb-5 overflow-auto card-show-cat">
						{% include "/components/_blocVideo.html.twig" %}
						<div class="title-view mt-2 d-flex flex-column justify-content-evenly align-items-start w-100">
							<h2 class="mx-4 mb-0">{{video.name}}</h2>
							<p class="mx-4 mb-0">{{video.view ~ ' vues'}}</p>
							<p class="mx-4 mb-0">{{ video.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
