{% extends 'layoutUser.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('showVideo') }}
{% endblock %}

{% block title %}
	{{parent()}}
	|
	{{video.name}}
{% endblock %}

{% block body %}
	<section class="section-showvideo">
		<div class="container">
			<div class="bg-video">
				<div class="link-video ratio ratio-16x9 d-flex justify-content-center">
					{% include "/components/_videoPlayer.html.twig" %}
				</div>
				<div class="bloc-description row mt-2">
					<div
						class="title-view col-md-10">
						{# <div class="title-view mb-3"> #}
						<h1 class="m-2 text-center title-show d-flex flex-wrap">{{video.name}}</h1>
						<p class="mx-2 fst-italic text-light">Vidéo publiée le
							{{video.updatedAt|date("d/m/Y")}}</p>
						<div class="d-flex">
							<p class="mx-2 badge bg-secondary text-light">{{video.view ~ ' vues'}}</p>
							<p class="mx-3 fw-bold text-secondary">{{video.duration ~ ' min'}}</p>
						</div>
						<p class="mx-2">{{video.description|nl2br}}</p>
					</div>
					{% if app.user %}
						<div class="bloc-like col-md-2 d-flex justify-content-center align-items-start mt-2">
							<div class="bloc-thumb">
								<form method="post" action="{{ path('app_video_like', {id: video.id})}}">
									<input type="hidden" name="_token" value="{{ csrf_token('likes' ~ video.id) }}">
									<button class="btn btn-lg btn-left me-2">
										<i class="bi {{app.user in video.likes ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up' }}"></i>
										<span class="ml-2 text-light">
											{{ video.likes | length }}
										</span>
									</button>
								</form>
							</div>
							<div class="bloc-heart">
								<form method="post" action="{{ path('app_video_favoris', {id: video.id})}}">
									<input type="hidden" name="_token" value="{{ csrf_token('favorite' ~ video.id) }}">
									<button class="btn btn-lg btn-love">
										<i class="bi svg-img {{ app.user.isInFavorite(video) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
									</button>
								</form>
							</div>
						</div>
					{% else %}
						<div class="bloc-like col-md-2 d-flex flex-column mt-2">
							<div class="bloc-btn d-flex justify-content-center">
								<div class="bloc-thumb">
									<button class="btn disabled btn-lg btn-left me-2">
										<i class="bi bi-hand-thumbs-up-fill"></i>
										<span class="ml-2 text-light">
											{{ video.likes | length }}
										</span>
									</button>
								</div>
								<div class="bloc-heart">
									<button class="btn disabled btn-lg btn-love">
										<i class="bi svg-img bi-heart-fill"></i>
									</button>
								</div>
							</div>
							<span class="fst-italic d-flex justify-content-center">Connexion obligatoire</span>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="container-fluid p-0 mt-5">
			{% if ads is not null %}
				<div class="bloc-ads mb-4">
					<div class="string-ad bg-light">
						<p class="text-center text-dark mb-0">Publicité</p>
					</div>
					<a href="{{ ads.linkTo }}" target="_blank">
						<img src="{{asset('uploads/images/ads/' ~ ads.poster)}}" class="img-ads" alt="{{ads.name}}">
					</a>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
