{% extends 'layoutUser.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('showVideo') }}
{% endblock %}

{% block title %}
	{{parent()}}
	|
	{{video.name}}
{% endblock %}

{% block body %}
	<section class="section-showvideo">
		<div class="container">
			<div class="bg-video">
				<h1 class="m-4 text-center title-show d-flex flex-wrap">{{video.name}}</h1>
				<div class="link-video ratio ratio-16x9 d-flex justify-content-center">
					{% include "/components/_videoPlayer.html.twig" %}
				</div>
				<div class="bloc-description mt-4 d-flex justify-content-between">
					<div class="title-view">
						<h3>{{video.name}}</h3>
						<p class="mx-2">{{video.view ~ ' vues'}}</p>
					</div>
					<div class="bloc-like d-flex flex-wrap justify-content-center align-items-center">
						{% if app.user %}
							<div class="bloc-thumb">
								<form method="post" action="{{ path('app_video_like', {id: video.id})}}">
									<input type="hidden" name="_token" value="{{ csrf_token('likes' ~ video.id) }}">
									<button class="btn btn-lg btn-left">
										<i class="bi bi-hand-thumbs-up {{app.user in video.likes ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up' }}"></i>
									</button>
								</form>
							</div>
							<div class="bloc-heart">
								<form method="post" action="{{ path('app_video_favoris', {id: video.id})}}">
									<input type="hidden" name="_token" value="{{ csrf_token('favorite' ~ video.id) }}">
									<button class="btn btn-lg btn-love">
										<i class="bi svg-img {{ app.user.isInFavorite(video) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
									</button>
								</form>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid p-0 mt-5">
			<div class="bloc-ads mb-4">
				<div class="string-ad bg-light">
					<p class="text-center text-dark mb-0">Publicité</p>
				</div>
				<a href="{{ ads.linkTo }}" target="_blank">
					<img src="{{asset('uploads/images/ads/' ~ ads.poster)}}" class="img-ads" alt="{{ads.name}}">
				</a>
			</div>
		</div>
	</section>
{% endblock %}
