{{ form_start(form) }}
{{ form_widget(form) }}
{% if category.name is empty %}
	<button class="btn btn-primary mt-3 me-3">{{ button_label|default('Ajouter') }}</button>
{% else %}
	<button class="btn btn-success mt-3 me-3">{{ button_label|default('Modifier') }}</button>
{% endif %}
<a class="btn btn-dark mt-3" href="{{ path('app_admin_cat_index') }}">Retour</a>
{{ form_end(form) }}
