{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Index catégories
{% endblock %}

{% block body %}
	<div class="admin-list container-fluid">
		<div class="row d-flex justify-content-center">
			<h1 class="video-index-title text-center">{{ "index des catégories"|upper }}</h1>
			<section class="video-summary flex-wrap ps-4 m-2">
				<a class="video-new btn btn-outline-primary my-4" href="{{ path('app_admin_cat_new') }}">Ajouter une catégorie</a>

				<table class="table table-borderless text-white text-center">
					<thead class="video-field pt-2 border-bottom">
						<tr>
							<th>Nom</th>
                            <th>Images</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="p-2">
						{% for category in categories %}
							<tr class="align-middle">
								<td>{{ category.name }}</td>
                                <td>
								<img src="{{asset('uploads/images/backgrounds/' ~ category.background)}}" class="image-vich" alt="{{category.background}}">
								</td>
								<td class="d-flex justify-content-center align-items-center m-2">
									<a class="btn btn-success me-3" href="{{ path('app_admin_cat_edit', {'id': category.id}) }}">Modifiez</a>
									<a class="btn btn-success me-2" href="{{ path('app_admin_cat_edit', {'id': category.id}) }}">Modifier</a>
									{{ include('admin_cat/_delete_form.html.twig') }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucune entrée trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
{% endblock %}
