{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Afficher bannière
{% endblock %}

{% block body %}
	<div class="container-fluid admin-list p-3">
		<h1 class="text-center title-add">{{ "afficher une bannière"|upper }}</h1>
		<table class="table flex-wrap text-light my-3">
			<tbody>
				<tr>
					<th>Nom</th>
					<td>{{ actuality.name }}</td>
				</tr>
				<tr class="tr-preview">
					<th>Image</th>
					<td>
						<img src="{{asset('uploads/images/actualities/' ~ actuality.picture)}}" alt="{{actuality.picture}}">
					</td>
				</tr>
				<tr>
					<th>Lien</th>
					<td>{{ actuality.link }}</td>
				</tr>
			</tbody>
		</table>
		<div class="bloc-btn mx-5 mt-4">
			<a class="btn btn-success me-2" href="{{ path('app_actuality_edit', {'id': actuality.id}) }}">Modifier</a>
			<a class="btn btn-dark" href="{{ path('app_actuality_index') }}">Retour</a>
		</div>
	</div>
{% endblock %}
