<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="{{ asset('build/images/icons/favicon.io') }}"/>
		<link rel="apple-touch-icon"sizes="152x152"href="{{ asset('build/images/icons/apple-touch-icon.png') }}">
		<link rel="icon"type="image/png"sizes="32x32"href="{{ asset('build/images/icons/favicon-32x32.png') }}">
		<link rel="icon"type="image/png"sizes="16x16"href="{{ asset('build/images/icons/favicon-16x16.png') }}">
		<link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet"/>
		<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet"/>
		<script src="https://vjs.zencdn.net/7.20.3/video.min.js" defer></script>
		<title>
			{% block title %}Ze-Sport
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('login') }}
			{{ encore_entry_link_tags('user_profile') }}
			{{ encore_entry_link_tags('registration') }}
			{{ encore_entry_link_tags('carrousel') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('carrouseljs') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}{% endblock %}

		{% block flash %}
			{% include 'components/_flash_messages.html.twig' %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}{% endblock %}
	</body>
</html>
