{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin | Index publicités
{% endblock %}

{% block body %}
	<div class="admin-list container-fluid">
		<div class="row d-flex justify-content-center">
			<h1 class="video-index-title text-center mb-5">{{ "index des publicités"|upper }}</h1>
			<section class="video-summary flex-wrap ps-4 m-2">
				<a class="video-new btn btn-outline-primary my-4" href="{{path('app_ad_new')}}">Ajouter une publicité</a>

				<table class="table table-borderless text-white text-center">
					<thead class="video-field pt-2 border-bottom">
						<tr>
							<th>Nom</th>
							<th>Image</th>
							<th>Lien</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="p-2">
						{% for advertisement in advertisements %}
							<tr class="align-middle">
								<td>{{ advertisement.name }}</td>
								<td>
								<img src="{{asset('uploads/images/ads/' ~ advertisement.poster)}}" class="image-vich" alt="{{advertisement.poster}}">
								</td>
								<td>{{ advertisement.linkTo }}</td>
								<td>
									<div class="d-flex justify-content-center align-items-center m-2">
										<a class="btn btn-success me-2" href="{{ path('app_ad_edit', {'id': advertisement.id}) }}">Modifier</a>
										{{ include('ad/_delete_form.html.twig') }}
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="7">Aucun résultat trouvé.</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>
{% endblock %}
