{% if not app.user %}
	{% if video.public == true %}
		<a href="{{path('app_video_show', {'video': video.id})}}" class="link-card">
			<img src="{{video.picture}}" alt="{{video.name}}" class="img-video">
		</a>
	{% else %}
		<a href="{{path('app_login')}}" class="link-card">
			<img src="{{asset('build/images/LOCK.png')}}" alt="Connexion obligatoire" class="img-video-lock">
		</a>
	{% endif %}
{% else %}
	<a href="{{path('app_video_show', {'video': video.id})}}" class="link-card">
		<img src="{{video.picture}}" alt="{{video.name}}" class="img-video">
	</a>
{% endif %}
