<div class="row-carrousel">
	<div class="header">
		<h3 class="title p-3">{{category.name}}</h3>
		<div class="progress-bar"></div>
	</div>
	<div class="bloc-carrousel">
		<button class="handle left-handle">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow bi bi-caret-left-fill" viewbox="0 0 16 16">
				<path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
			</svg>
		</button>
		<div class="slider">
			{% for video in videos %}
				<div class="card-video d-flex flex-column">
					<div class="link-img">
						<a href="{{path('app_video_show', {'video': video.id})}}" class="link-card">
							<img src="{{video.picture}}" alt="{{video.name}}" class="img-video">
						</a>
					</div>
					<div class="title-view mt-2 d-flex justify-content-between align-items-start">
						<h2 class="mx-2 mb-0">{{video.name}}</h2>
						<p class="mx-2 mb-0">{{video.view ~ ' vues'}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<button class="handle right-handle">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="arrow bi bi-caret-right-fill" viewbox="0 0 16 16">
				<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
			</svg>
		</button>
	</div>
</div>
