<nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark nav-side" style="width: 280px;">
	<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="{{path('app_home')}}">
		<img src="{{ asset('build/images/logoZeSport.png') }}" alt="logo" class="bi me-2" width="40" height="32">
		Ze-Sport | Admin
	</a>
	<hr>
	<ul class="nav flex-column mb-auto">
		<li class="nav-item">
			<a class="nav-link active" href="{{ path('app_admin_cat_index') }}">
				<i class="bi bi-house-door-fill me-2"></i>
				Catégories
			</a>
		</li>
		<li>
			<a class="nav-link text-white" href="{{ path('app_admin_video_index') }}">
				<i class="bi bi-film me-2"></i>
				Vidéos
			</a>
		</li>
		<li>
			<a class="nav-link text-white" href="{{path('app_ad_index')}}">
				<i class="bi bi-badge-ad me-2"></i>
				Publicités
			</a>
		</li>
		<li>
			<a class="nav-link text-white" href="{{path('app_actuality_index')}}">
				<i class="bi bi-card-image me-2"></i>
				Bannières
			</a>
		</li>
		<li>
			<a class="nav-link text-white" href="{{ path('app_admin_sponsor_index') }}">
				<i class="bi bi-currency-dollar me-2"></i>
				Sponsors
			</a>
		</li>
	</ul>
	<hr>
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			{% if app.user %}
				<img class="rounded-circle" width="32" height="32" src="{{ vich_uploader_asset(app.user) }}" alt="avatar">
			{% else %}
				<img class="rounded-circle" width="32" height="32" src="{{ asset('build/images/Ellipse2.png') }}" alt="avatar">
			{% endif %}
		</a>
		<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			<li>
				<a class="dropdown-item" href="{{ path('app_profile') }}">Profil</a>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
			</li>
		</ul>
	</div>
</nav>
