<section class="bloc-sponsor bg-intermediate mt-5">
	<div class="container">
		<div class="row">
			{% for sponsor in sponsors %}
				<div class="col-md-3 col-6 m-auto">
					<a href={{ sponsor.link }} class="text-decoration-none">
						{% if sponsor.logo is null %}
							<img src={{ asset('build/images/placeHolder.png') }} alt="{{ sponsor.logo }}" class="py-5 logo-sponsor-size">
						{% else %}
							<img src="{{ vich_uploader_asset(sponsor) }}" alt="{{ sponsor.logo }}" class="py-5 logo-sponsor-size">
						{% endif %}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
