<a href="{{path('app_video_show', {'video': video.id})}}" class="link-card">
	{% if video.picture is null %}
		<img src={{ asset('build/images/videoPlaceholder.jpeg') }} alt="{{video.name}}" class="img-video">
	{% else %}
		<img src="{{ vich_uploader_asset(video, 'thumbnail') }}" alt="{{video.name}}" class="img-video">
	{% endif %}
</a>
